<h1>Listado de productos:</h1>
{{#each products}}
<div>
   <p><strong>Title: </strong> {{title}}</p>
   <p><strong>Description: </strong> {{description}}</p>
   <p><strong>Code: </strong> {{code}}</p>
   <p><strong>Price: </strong> {{price}}</p>
   <p><strong>Stock: </strong> {{stock}}</p>
   <p><strong>Category: </strong> {{category}}</p>
   <p><strong>Thumbnail: </strong> {{thumbnail}}</p>
   <hr>
</div>
{{/each}}

